@model InMyAppinion.Models.SubjectReview

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubjectReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsefulnessGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsefulnessGrade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterestGrade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DifficultyGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DifficultyGrade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalGrade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
        <dt>
            Tagovi
        </dt>
        <dd>
            @foreach(var tag in Model.SubjectReviewTagSet)
            { 
                @tag.SubjectReviewTag.Name@: | 
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
