@model IEnumerable<InMyAppinion.Models.SubjectReview>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsefulnessGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterestGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DifficultyGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsefulnessGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
