
@{
    ViewData["Title"] = "Početna stranica";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@

@*
<div>
    <a asp-action="Index" asp-controller="Professors">Professors</a> <br />
    <a asp-action="Index" asp-controller="Cities">Cities</a> <br />
    <a asp-action="Index" asp-controller="Universities">Universities</a> <br />
    @Html.ActionLink("Roles", "Index", "Roles") (radi samo za logiranog admina) <br />
    <a asp-action="Index" asp-controller="Faculties">Faculties</a> <br />
    <a asp-action="Index" asp-controller="ProfessorReviews">Review a professor</a> <br />
    <a asp-action="Index" asp-controller="Subjects">Subjects</a> <br />
    <a asp-action="Index" asp-controller="SubjectReviews">Review a subject</a> <br />
    <a asp-action="ProfessorRankings" asp-controller="Rank">Professor ranking</a> <br />
    <a asp-action="SubjectRankings" asp-controller="Rank">SUbject ranking</a> <br />
    @Html.ActionLink("Professors","Index","Professors") <br />
    @Html.ActionLink("Cities", "Index", "Cities") <br />
    @Html.ActionLink("Universities", "Index", "Universities") <br />
</div>
*@



<!-------------------------------------------------------------------------------------------------->

<div class="row">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/inmyappinion.png">
                    <div class="carousel-caption">
                        <h3>
                            Znanje o znanju
                        </h3>
                        <p>
                            Dobrodošli na InMyAppinion, mjesto gdje su vaša mišljenja i iskustva bitna!
                            Studirali ste na nekom od hrvatskih fakulteta? Završili ste super tečaj i želite to podijeliti sa ostalima?
                            Ostavite kritike i ocjene na kolegije i profesore i podijelite svoje mišljenje sa svijetom!
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="~/images/pronadi.png">
                    <div class="carousel-caption">
                        <h3>
                            Pronađi svoje područje
                        </h3>
                        <p>
                            Zanima te programiranje? Ili možda fizika i kemija? Više vidiš sebe kao filozofa ili umjetnika? Bez obzira na
                            tvoje interese kod nas možeš pretražiti područja svoje zanimacije i saznati što ti se nudi kako bi ostvario svoje snove!
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="~/images/ocijeni.png">
                    <div class="carousel-caption">
                        <h3>
                            Zanimljivost, Korisnost, Kvaliteta
                        </h3>
                        <p>
                            Ostavi ocjene na profesore i predmete i pomozi ostalima da prepoznaju kvalitetu u obrazovnom sustavu.
                            Smatarš da kritike drugih korisnika nisu ispravne? Ocijeni i njih i pomozi kvaliteti i istini da bude viđena!
                        </p>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->
            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active">
                    <a href="#">
                        InMyAppinion<small>
                            O nama
                        </small>
                    </a>
                </li>
                <li data-target="#myCarousel" data-slide-to="1">
                    <a href="#">
                        Pronađi<small>
                            svoje područje
                        </small>
                    </a>
                </li>
                <li data-target="#myCarousel" data-slide-to="2">
                    <a href="#">
                        Ocijeni<small>
                            profesore i kolegije
                        </small>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Carousel -->
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="jumbotron">
            <div class="row main-center">
                <h1>Pretraži</h1>
                <p>profesore, predmete i područja koja te zanimaju</p>
                <div>
                    <form asp-controller="Search" asp-action="Search" method="GET">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input name="query" type="text" class="form-control input-lg" placeholder="Želim znati..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="jumbotron">
            <div class="row main-center">
                <h1>Pregled</h1>
                <p>svih dostupnih područja</p>
                <div class="main-center" id="cloud"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="page-header">
        <h1>Kako sve to funkcionira</h1>
    </div>
    <div class="container">
        <div class="row pricing">
            <div class="col-md-6">
                <div class="well">
                    <h3><b>Zanima te profesor?</b></h3>
                    <hr>
                    <p><b>Zanimaju te najbolje ocijenjeni profesori?</b></p>
                    <hr>
                    <p><b>Pogledaj <a asp-action="ProfessorRankings" asp-controller="Rank">najbolje profesore</a></b></p>
                    <hr>
                    <p><b>Pogledaj pregled svih profesora <a asp-action="Index" asp-controller="Professors">ovdje</a></b></p>
                    <hr>
                    <p><b>Ne pronalaziš profesora koji te zanima?</b></p>
                    <hr>
                    <p><b><a class="btn btn-default btn-block" asp-action="Create" asp-controller="Professors">Predloži nam njegov unos!</a></b></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h3><b>Zanima te predmet?</b></h3>
                    <hr>
                    <p><b>Zanimaju te najbolje ocijenjeni predmeti?</b></p>
                    <hr>
                    <p><b>Pogledaj <a asp-action="SubjectRankings" asp-controller="Rank">najbolje predmete</a></b></p>
                    <hr>
                    <p><b>Pogledaj pregled svih predmeta <a asp-action="Index" asp-controller="Subjects">ovdje</a></b></p>
                    <hr>
                    <p><b>Ne pronalaziš predmet koji te zanima?</b></p>
                    <hr>
                    <p><b><a class="btn btn-default btn-block" asp-action="Create" asp-controller="Subjects">Predloži nam njegov unos!</a></b></p>
                </div>
            </div>
        </div>
    </div>
</div>
    

@section styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/home.css")" />
}

@section scripts {
<script type="text/javascript">
        $(document).ready(function ($) {
            $.get('@Url.Action("GetCloud", "Subjects")', function (data) {
                var values = data;

                $('#cloud').jQCloud(values, {
                    colors: ["darkorange", "orangered", "red", "orange", "darkgoldenrod", "darkred", "chocolate", "brown", "firebrick"],
                    width: 600,
                    height: 200,
                    fontSize: {
                        from: 0.1,
                        to: 0.02
                    }
                });
            });
        });
</script>

    <script>
        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: 4000
            });

            var clickEvent = false;
            $('#myCarousel').on('click', '.nav a', function () {
                clickEvent = true;
                $('.nav li').removeClass('active');
                $(this).parent().addClass('active');
            }).on('slid.bs.carousel', function (e) {
                if (!clickEvent) {
                    var count = $('.nav').children().length - 1;
                    var current = $('.nav li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if (count == id) {
                        $('.nav li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        });
    </script>
}