@model InMyAppinion.Models.ProfessorViewModels.ProfessorDetailViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Profesor";
}

<h2>Details</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @if (await AuthorizationService.AuthorizeAsync(User, "CanModerate"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Validated)
            </dt>
            <dd>
                <form asp-action="Validate" method="post">
                    <input asp-for="@Model.Validated" data-professorid="@Model.ID" class="editajax" />
                </form>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Subjects)
        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.Subjects)
                {
                    <li>
                        @item.Name
                    </li>
                }
            </ul>
        </dd>
        <dt>
            Predaje na predmetima
        </dt>
        <dd>
            @foreach (var item in Model.Subjects)
            {
                <a asp-action="Details" asp-controller="Subject" asp-route-Id="@item.ID">@item.Name</a>@: |

            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgInteractivity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgInteractivity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgAccessibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgAccessibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgMentoring)
        </dt>
        <dd>
            @if(Model.AvgMentoring != 0) { 
                @Html.DisplayFor(model => model.AvgMentoring)
            }
            else
            {
                @:---
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgQuality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgQuality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt>
            Kritike
        </dt>
        <dd>
            @foreach (var item in Model.Reviews)
            {
                <a asp-action="Details" asp-controller="ProfessorReviews" asp-route-Id="@item.ID">@item.TotalGrade</a>@: |

            }
        </dd>
    </dl>
</div>
<div>

    @if (await AuthorizationService.AuthorizeAsync(User, "CanReview"))
    {
        <a asp-action="Create" asp-controller="ProfessorReviews" asp-route-Id="@Model.ID">Dodaj kritiku</a>@: |
    }
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>


</div>

<div id="chart1" style="height:200px;width:500px; "></div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("Validate")','professorid');
        });
    </script>

    <script>
        $(function () {
            GraphByYear("chart1", '@Url.Action("GradeByYear", "Rank", new { id=Model.ID, type="professor"})');
        });
    </script>
}
