@model InMyAppinion.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Tražim "+Model.query;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
    .ui-tabs .ui-tabs-active {
        background-color: green;
        border-color: lightgreen;
    }
</style>

@if (Model.query!= "" && Model.query!=null)
{
    <h2> Rezultati pretrage za @Model.query </h2>
}
else { 
    <h2>Svi rezultati</h2>
}
@* @foreach (var sub in Model.subjects) { 

    <span>@sub.Name - @sub.ShortName</span> <br />
}*@

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Predmeti (@Model.subservmod.subjects.Count())</a></li>
        <li><a href="#tabs-2">Profesori (@Model.profservmod.professors.Count())</a></li>
    </ul>
    <div id="tabs-1">
        @if (Model.subservmod.subjects != null && Model.subservmod.subjects.Count() > 0)
        {
            foreach (var sts in Model.subservmod.subjects)
            {
                //<span>beufcbwekjn</span> <br />
                <a asp-action="Details" asp-controller="Subjects" asp-route-id="@sts.ID">@sts.Name </a>
                <br />
            }
        }
        else
        {
            <span>Nema ničega</span>
        }
    </div>
    <div id="tabs-2">
        @if (Model.profservmod.professors != null && Model.profservmod.professors.Count() > 0)
        {
            foreach (var prof in Model.profservmod.professors)
            {
                //<span>beufcbwekjn</span> <br />
                <a asp-action="Details" asp-controller="Professors" asp-route-id="@prof.ID">@prof.FullName </a>
                <br />
            }
        }
        else
        {
            <span>Nema ničega</span>
        }
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}