@model InMyAppinion.ViewModels.SubjectSearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h2>Rezultati pretrage za @Model.query</h2>

@* @foreach (var sub in Model.subjects) { 

    <span>@sub.Name - @sub.ShortName</span> <br />
}*@

@if (Model.subjects!=null) {
    foreach (var sts in Model.subjects)
    {
        <a asp-action="Details" asp-controller="Subjects" asp-route-id="@sts.ID">@sts.Name </a>
    <br />
    }
}
else
{
    <span>Nema ničega</span>
}