@model IEnumerable<InMyAppinion.Models.ProfessorReview>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QualityGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InteractionGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HelpfulnessGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MentorGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InteractionGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelpfulnessGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.FullName)
            </td>
                @if (await AuthorizationService.AuthorizeAsync(User, "CanModerate"))
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">Detalji</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
