@model IEnumerable<InMyAppinion.Models.City>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h2>Gradovi</h2>

@if (await AuthorizationService.AuthorizeAsync(User, "CanModerate"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            @if (await AuthorizationService.AuthorizeAsync(User, "CanModerate"))
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
