@using InMyAppinion.ViewModels
@model ProfessorRankingViewModel
@{
    ViewData["Title"] = "Rankings";
}

<h2>Rankings</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            @{
                string[] columns = { "Profesor", "Pristupačnost", "Interaktivnost", "Mentorstvo", "Kvaliteta", "Ukupno" };
            }

            @for (int i = 0; i < columns.Length; i++)
            {
                <th>
                    @if (i > 0) {
                        <a asp-route-sort="@i">@columns[i]</a>
                    }
                    else
                    {
                        @columns[i]
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        
        @{
            int counter = 0;
            foreach (var item in Model.Professors)
            {
                counter++;
            <tr>
                <td>
                    @counter.
                </td>
                <td>
                    @item.FullName
                </td>
                <td align="center">
                    @item.AvgAccessibility
                </td>
                <td align="center">
                    @item.AvgInteractivity
                </td>
                <td align="center">
                    @item.AvgMentoring
                </td>
                <td align="center">
                    @item.AvgQuality
                </td>
                <td align="center">
                    @item.AvgTotal
                </td>
            </tr>

            }
        }
    </tbody>

</table>